
#changer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	transform: rotate(0);
	P{
		margin-right: 30px;
	}
	.themes {
		display: block;
		div{
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			width: 75px;
			position: absolute;
			top: -80%;
		}
		width: 75px;
		height: 30px;
		border-radius: 15px;
	}
	button{
		all: unset;
		cursor: pointer;
		font-size: .4em;
		text-align: center;
		height: 50px;
		width: 20px;
		margin: 5px;
		background: transparent;
		border: none;
	}
}
#slider {
	display: block;
	width: 20px;
	height: 20px;
	background: var(--btn-equals-background);
	border-radius: 50%;
	position: relative;
	top: 5px;
	left: 5px;
	transition: all .3s;
	&.pos-2 {
		left: 50%;
		transform: translateX(-50%);
	}
	&.pos-3 {
		left: 100%;
		transform: translateX(calc(-100% - 5px));
	}
}

@media(max-width: 601px){
	#changer{
		transform: scale(90%);
	}

}
@media(max-width: 450px){
	#changer{
		transform: scale(80%);
	}
}
