@import '../../variables';
$btnWidth: 100%;
$btnHeight: 60px;

#keys{
	background: $toggleBackground;
	width: 100%;
	border-radius: 10px;
	box-sizing: border-box;
	padding: 25px;
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 25px;
	justify-items: center;
	align-items: center;
	grid-template-areas: 
	"seven eight nine del"
	"four five six add"
	"one two three subtract"
	"dot zero divide multiply"
	"reset reset equals equals";
	button {
		cursor: pointer;
		font-size: $fontSize;
		font-weight: $fontWeight;
		color: $textGrayish;
		width: $btnWidth;
		height: $btnHeight;
		border-radius: 10px;
		box-shadow: 0 5px 0 0 $keyShadowOther;
		border:none;
	}
}
#one {
	grid-area: one;
}
#two {
	grid-area: two;
}
#three {
	grid-area: three;
}
#four {
	grid-area: four;
}
#five {
	grid-area: five;
}
#six {
	grid-area: six;
}
#seven {
	grid-area: seven;
}
#eight {
	grid-area: eight;
}
#nine {
	grid-area: nine;
}
#zero {
	grid-area: zero;
}
#add {
	grid-area: add;
}
#subtract {
	grid-area: subtract;
}
#multiply {
	grid-area: multiply;
}
#divide {
	grid-area: divide;
}
#decimal {
	grid-area: dot;
}
.buttonText{
	font-size: .7em !important;
	color: $textWhite !important;
	text-transform: uppercase;
}
#equals {
	@extend.buttonText;
	grid-area: equals;
	background: $keyBackgroundToggle;
	box-shadow: 0 5px 0 0 $keyShadowToggle !important;
}
#clear {
	@extend.buttonText;
	grid-area: reset;
	background: $keyBackground;
	box-shadow: 0 5px 0 0 $keyShadow !important;
}
#del {
	@extend.buttonText;
	grid-area: del;
	background: $keyBackground;
	box-shadow: 0 5px 0 0 $keyShadow !important;
}
