
#changer{
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	.themes {
		margin-left: 30px;
		display: block;
		div{
			display: flex;
			justify-content: space-evenly;
			align-items: center;
			position: relative;
			top: 0;
			left: 50%;
			transform: translate(-50%, -120%);
		}
		width: 75px;
		height: 30px;
		border-radius: 15px;
	}
	button{
		all: unset;
		cursor: pointer;
		font-size: .4em;
		margin: 5px;
		background: transparent;
		border: none;

	}
}
#slider {
	display: block;
	width: 20px;
	height: 20px;
	background: var(--btn-equals-background);
	border-radius: 50%;
	position: relative;
	top: 5px;
	left: 5px;
	transform: translateY(-120%);
	transition: all .3s;
	&.pos-2 {
		left: 50%;
		transform: translate(-50%, -120%);
	}
	&.pos-3 {
		left: 100%;
		transform: translate(calc(-100% - 5px), -120%);
	}
}
