
#display {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 150px;
	box-sizing: border-box;
	background: var(--screen-background);
	border-radius: 10px;
	padding: 25px;
	.value {
		font-size: 1.7em;
		margin: 0;
		word-wrap: break-word;
		word-break: break-all;
	}
	.prevValue{
		font-size: .6em;
		align-self: flex-start;
	}
}
