@import 'variables';


body {
	--theme1-bg: #{$mainBackground};
	--theme1-text: #{$textWhite};
	&[data-theme=theme-2]{
	--theme1-bg: #{$mainBackground2};
	--theme1-text: #{$textWhite};
	}
	&[data-theme=theme-3]{
	--theme1-bg: #{$mainBackground3};
	--theme1-text: #{$textWhite};
	}
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 100vh;
	background: var(--theme1-bg);
	color: var(--theme1-text);
	font-size: $fontSize;
	font-weight: $fontWeight;
	font-family: $fontFamily;
	display: flex;
	justify-content: center;
	align-items: center;
}

.App {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 550px;
	height: 700px;
	& > * {
		margin: 10px 0;
	}
}
